.menu {
  display: flex;
  background-color: rgb(47, 85, 141) ;
  padding: 10px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 1px;
}

.menu h3 {
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.menu h3:hover {
  text-decoration: dashed;
  background-color: rgb(59, 107, 180) ;
}
